<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Neuro-Rec</h1>
         <nav>
        <ul>
            <li><a href="#produtos">Produtos</a></li>
            <li><a href="#meus-produtos">Meus Produtos</a></li>
            <li><a href="#sobre-nos">Sobre Nós</a></li>
            <li class="usuario">
                <a href="#usuario">Usuário</a>
                <ul class="dropdown">
                    <li><a href="setDadosUser.html">Mudar Dados</a></li>
                    <li><a href="#excluir-conta">Excluir Conta</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    </header>
</body>
</html>